<!-- BREAKFAST -->
    
<section id="content">
  <div class="row" id="container">

    <h1 class="h1font">BREAKFAST</h1>

      <div class="small-12 medium-6 large-4 columns">
        <div class="image-wrapper overlay-fade-in">
          <img src="img/scrambled.jpg" />
          <div class="image-overlay-content">
            <p class="price">$3</p>
<!--             <form action="action_page.php">
            Quantity:
            <input type="number" name="quantity" min="1" max="5">
            <input type="submit">
            </form> -->
            <a href="#" class="button add-to-order-button">Add To Order</a>
          </div>
        </div>
        <h3 class="h3font">Scrambled Eggs</h3>
        <h6 class="h6font">with creme fraiche</h6>
      </div>

      <div class="small-12 medium-6 large-4 columns">
        <div class="image-wrapper overlay-fade-in">
          <img src="img/eggs2.jpg" />
          <div class="image-overlay-content">
            <p class="price">$3</p>
            <a href="#" class="button">Add To Order</a>
          </div>
        </div>
        <h3 class="h3font">Fried Eggs</h3>
        <h6 class="h6font">sunny side up</h6>
      </div>

      <div class="small-12 medium-6 large-4 columns">
        <div class="image-wrapper overlay-fade-in">
          <img src="img/fruitsmile.jpg" />
          <div class="image-overlay-content">
            <p class="price">$2</p>
            <a href="#" class="button">Add To Order</a>
          </div>
        </div>
        <h3 class="h3font">Organic Fruit</h3>
        <h6 class="h6font">seasonal mix</h6>
      </div>

      <div class="small-12 medium-6 large-4 columns">
        <div class="image-wrapper overlay-fade-in">
          <img src="img/blueberrypancakes2.jpg" />
          <div class="image-overlay-content">
            <p class="price">$4</p>
            <a href="#" class="button">Add To Order</a>
          </div>
        </div>
        <h3 class="h3font">Blueberry Pancakes</h3>
        <h6 class="h6font">with yogurt & honey</h6>
      </div>

      <div class="small-12 medium-6 large-4 columns">
        <div class="image-wrapper overlay-fade-in">
          <img src="img/mangopancake.jpg" />
          <div class="image-overlay-content">
            <p class="price">$4</p>
            <a href="#" class="button">Add To Order</a>
          </div>
        </div>
        <h3 class="h3font">Mango Pancakes</h3>
        <h6 class="h6font">with lime syrup</h6>
      </div>

      <div class="small-12 medium-6 large-4 columns">
        <div class="image-wrapper overlay-fade-in">
          <img src="img/walnutpancake.jpg" />
          <div class="image-overlay-content">
            <p class="price">$3</p>
            <a href="#" class="button">Add To Order</a>
          </div>
        </div>
        <h3 class="h3font">Whole Wheat Pancakes</h3>
        <h6 class="h6font">with walnuts & maple syrup</h6>
      </div>

      <div class="small-12 medium-6 large-4 columns">
        <div class="image-wrapper overlay-fade-in">
          <img src="img/appleoatmeal.jpg" />
          <div class="image-overlay-content">
            <p class="price">$4</p>
            <a href="#" class="button">Add To Order</a>
          </div>
        </div>
        <h3 class="h3font">Oatmeal</h3>
        <h6 class="h6font">with apples and cinnamon</h6>
      </div>
    
  </div>
</section>