<!-- Entrees-->
<section id="content">
  <div class="row" id="container">
    <h1 class="h1font">ENTREES</h1>
    <div class="small-12 medium-6 large-4 columns">
      <div class="image-wrapper overlay-fade-in">
        <img src="img/burger.jpg" />
        <div class="image-overlay-content">
          <p class="price">$6</p>
          <a href="#" class="button">Add To Order</a>
        </div>
      </div>
      <h3 class="h3font">Blue Cheese Burger</h3>
      <h6 class="h6font">on pretzel bun</h6>
    </div>

    <div class="small-12 medium-6 large-4 columns">
      <div class="image-wrapper overlay-fade-in">
        <img src="img/shreddedchicken.jpg" />
        <div class="image-overlay-content">
          <p class="price">$7</p>
          <a href="#" class="button">Add To Order</a>
        </div>
      </div>
      <h3 class="h3font">Shredded Chicken</h3>
      <h6 class="h6font">on ciabatta with pepperjack </h6>
    </div>

    <div class="small-12 medium-6 large-4 columns">
      <div class="image-wrapper overlay-fade-in">
        <img src="img/porkpotatoessweetpeppers2.jpg" />
        <div class="image-overlay-content">
          <p class="price">$11</p>
          <a href="#" class="button">Add To Order</a>
        </div>
      </div>
      <h3 class="h3font">Pork Tenderloin</h3>
      <h6 class="h6font">with mashed potatoes & sweet red peppers</h6>
    </div>

    <div class="small-12 medium-6 large-4 columns">
      <div class="image-wrapper overlay-fade-in">
        <img src="img/butterchicken2.jpg" />
        <div class="image-overlay-content">
          <p class="price">$9</p>
          <a href="#" class="button">Add To Order</a>
        </div>
      </div>
      <h3 class="h3font">Butter Chicken</h3>
      <h6 class="h6font">with rice, red chilis & cilantro</h6>
    </div>

    <div class="small-12 medium-6 large-4 columns">
      <div class="image-wrapper overlay-fade-in">
        <img src="img/sesamechicken.jpg" />
        <div class="image-overlay-content">
          <p class="price">$8</p>
          <a href="#" class="button">Add To Order</a>
        </div>
      </div>
      <h3 class="h3font">Sesame Chicken</h3>
      <h6 class="h6font">with carrots, chives & mushrooms</h6>
    </div>

    <div class="small-12 medium-6 large-4 columns">
      <div class="image-wrapper overlay-fade-in">
        <img src="img/chickentaco.jpg" />
        <div class="image-overlay-content">
          <p class="price">$5</p>
          <a href="#" class="button">Add To Order</a>
        </div>
      </div>
      <h3 class="h3font">Chipotle Chicken Tacos</h3>
      <h6 class="h6font">with corn & pepperjack</h6>
    </div>
  </div>
</section>