<section id="content">
  <div class="row" id="container">
      
	<h1 class="h1font">WELCOME TO QP!</h1>
      <h3 class="h3font">ORDER ONLINE</h3>
      <h6 class="h6font">click a category to view menu items</h6>

      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
          <li data-target="" data-slide-to="0" class="active"></li>
          <li data-target="" data-slide-to="1"></li>
          <li data-target="" data-slide-to="2"></li>
          <li data-target="" data-slide-to="3"></li>
          <li data-target="" data-slide-to="4"></li>
          <li data-target="" data-slide-to="5"></li>
        </ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <img class="" src="img/bak.jpg" alt="">
              <div class="carousel-caption">
                <h3>QP</h3>
                <p>since 1983</p>
              </div>
          </div>

          <div class="carousel-item">
            <img class="" src="img/bre.jpg" alt="">
              <div class="carousel-caption">
                <h3>BREAKFAST</h3>
                <p>to start your day</p>
              </div>
          </div>

          <div class="carousel-item">
            <img class="" src="img/app.jpg" alt="">
              <div class="carousel-caption">
                <h3>APPETIZERS</h3>
                <p>to start your meal</p>
              </div>
          </div>

          <div class="carousel-item">
            <img class="" src="img/squ.jpg" alt="">
              <div class="carousel-caption">
                <h3>VEGETARIAN</h3>
                <p>fresh, healthy, delicious</p>
              </div>
          </div>

          <div class="carousel-item">
            <img class="" src="img/ent.jpg" alt="">
              <div class="carousel-caption">
                <h3>ENTREES</h3>
                <p>a little bit of everything</p>
              </div>
          </div>

          <div class="carousel-item">
            <img class="" src="img/smo.jpg" alt="">
              <div class="carousel-caption">
                <h3>DRINKS</h3>
                <p>for the entire family</p>
              </div>
          </div>

        </div>

        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="icon-prev" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="icon-next" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

  </div>
</section>