<!-- VEGETARIAN -->
<section id="content">
  <div class="row" id="container">
    <h1 class="h1font">VEGETARIAN</h1>
    <div class="small-12 medium-6 large-4 xlarge-3 columns">
      <div class="image-wrapper overlay-fade-in">
        <img src="img/squash.jpg" />
        <div class="image-overlay-content">
          <p class="price">$5</p>
          <a href="#" class="button">Add To Order</a>
        </div>
      </div>
      <h3 class="h3font">Roasted Squash</h3>
      <h6 class="h6font">drizzled with olive oil</h6>
    </div>
    
    <div class="small-12 medium-6 large-4 xlarge-3 columns">
      <div class="image-wrapper overlay-fade-in">
        <img src="img/arugulagoat.jpg" />
        <div class="image-overlay-content">
          <p class="price">$4</p>
          <a href="#" class="button">Add To Order</a>
        </div>
      </div>
      <h3 class="h3font">Arugula Salad</h3>
      <h6 class="h6font">with goat cheese, walnuts & cranberries</h6>
    </div>

    <div class="small-12 medium-6 large-4 xlarge-3 columns">
      <div class="image-wrapper overlay-fade-in">
        <img src="img/pinenutsalad.jpg" />
        <div class="image-overlay-content">
          <p class="price">$3</p>
          <a href="#" class="button">Add To Order</a>
        </div>
      </div>
      <h3 class="h3font">Pine Nut Salad</h3>
      <h6 class="h6font">with cucumber & tomatoes</h6>
    </div>

    <div class="small-12 medium-6 large-4 xlarge-3 columns">
      <div class="image-wrapper overlay-fade-in">
        <img src="img/kalepeppers.jpg" />
        <div class="image-overlay-content">
          <p class="price">$3</p>
          <a href="#" class="button">Add To Order</a>
        </div>
      </div>
      <h3 class="h3font">Kale & Peppers</h3>
      <h6 class="h6font">sauteed in garlic & ginger</h6>
    </div>

    <div class="small-12 medium-6 large-4 xlarge-3 columns">
      <div class="image-wrapper overlay-fade-in">
        <img src="img/fishasparagus2.jpg" />
        <div class="image-overlay-content">
          <p class="price">$8</p>
          <a href="#" class="button">Add To Order</a>
        </div>
      </div>
      <h3 class="h3font">Tilapia & Asparagus</h3>
      <h6 class="h6font">with hollandaise sauce</h6>
    </div>

    <div class="small-12 medium-6 large-4 xlarge-3 columns">
      <div class="image-wrapper overlay-fade-in">
        <img src="img/fishasparagus4.jpg" />
        <div class="image-overlay-content">
          <p class="price">$8</p>
          <a href="#" class="button">Add To Order</a>
        </div>
      </div>
      <h3 class="h3font">Breaded Cod</h3>
      <h6 class="h6font">with asparagus and parsley</h6>
    </div>

    <div class="small-12 medium-6 large-4 xlarge-3 columns">
      <div class="image-wrapper overlay-fade-in">
        <img src="img/fishtacos2.jpg" />
        <div class="image-overlay-content">
          <p class="price">$5</p>
          <a href="#" class="button">Add To Order</a>
        </div>
      </div>
      <h3 class="h3font">Shrimp Tacos</h3>
      <h6 class="h6font">with avocado & cilantro sour cream</h6>
    </div>

    <div class="small-12 medium-6 large-4 xlarge-3 columns">
      <div class="image-wrapper overlay-fade-in">
        <img src="img/thaiveggienoodles2.jpg" />
        <div class="image-overlay-content">
          <p class="price">$5</p>
          <a href="#" class="button">Add To Order</a>
        </div>
      </div>
      <h3 class="h3font">Thai Noodles</h3>
      <h6 class="h6font">with carrot, cilantro & peppers</h6>
    </div>

    <div class="small-12 medium-6 large-4 xlarge-3 columns">
      <div class="image-wrapper overlay-fade-in">
        <img src="img/chickpeacauliflower.jpg" />
        <div class="image-overlay-content">
          <p class="price">$5</p>
          <a href="#" class="button">Add To Order</a>
        </div>
      </div>
      <h3 class="h3font">Spicy Cauliflower</h3>
      <h6 class="h6font">with chickpeas & rice</h6>
    </div>

    <div class="small-12 medium-6 large-4 xlarge-3 columns">
      <div class="image-wrapper overlay-fade-in">
        <img src="img/shrimppasta.jpg" />
        <div class="image-overlay-content">
          <p class="price">$5</p>
          <a href="#" class="button">Add To Order</a>
        </div>
      </div>
      <h3 class="h3font">Shrimp Pasta</h3>
      <h6 class="h6font">with leeks & sundried tomatoes</h6>
    </div>

    <div class="small-12 medium-6 large-4 xlarge-3 columns">
      <div class="image-wrapper overlay-fade-in">
        <img src="img/leekpasta.jpg" />
        <div class="image-overlay-content">
          <p class="price">$5</p>
          <a href="#" class="button">Add To Order</a>
        </div>
      </div>
      <h3 class="h3font">Mushroom Leek Pasta</h3>
      <h6 class="h6font">with garlic & cream</h6>
    </div>

    <div class="small-12 medium-6 large-4 xlarge-3 columns">
      <div class="image-wrapper overlay-fade-in">
        <img src="img/tomatorisotto.jpg" />
        <div class="image-overlay-content">
          <p class="price">$5</p>
          <a href="#" class="button">Add To Order</a>
        </div>
      </div>
      <h3 class="h3font">Tomato Risotto</h3>
      <h6 class="h6font">with parmesan & parsley</h6>
    </div>

    <div class="small-12 medium-6 large-4 xlarge-3 columns">
      <div class="image-wrapper overlay-fade-in">
        <img src="img/sweetpotatognocchi.jpg" />
        <div class="image-overlay-content">
          <p class="price">$6</p>
          <a href="#" class="button">Add To Order</a>
        </div>
      </div>
      <h3 class="h3font">Sweet Potato Gnocchi</h3>
      <h6 class="h6font">with parmesan</h6>
    </div>

    <div class="small-12 medium-6 large-4 xlarge-3 columns">
      <div class="image-wrapper overlay-fade-in">
        <img src="img/margaritapizza3.jpg" />
        <div class="image-overlay-content">
          <p class="price">$8</p>
          <a href="#" class="button">Add To Order</a>
        </div>
      </div>
      <h3 class="h3font">Margarita Pizza</h3>
      <h6 class="h6font">with pesto sauce</h6>
    </div>

  </div>
</section>